* {
    box-sizing: border-box;
}

/* 清除浮动 */
.clearfix::before,.clearfix::after {
    content: '';
    display: table;
}
.clearfix::after {
    height: 0;
    clear: both;
}
.clearfix {
    *zoom: 1;
}