/* 头部 */
header {
    position: fixed;
    top: 0;
    left: 0;
    padding: calc(12rem/75) calc(32rem/75);
    width: 100%;
    height: calc(86rem/75);
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    background-color: #fff;
    z-index: 99;
}

header>.header-l {
    float: left;
    margin-top: calc(8rem/75);
}

header>.header-l a {
    display: block;
}

header>.header-l a img {
    width: calc(26rem/75);
    height: calc(36rem/75);
}

header>.header-c {
    float: left;
    margin: calc(8rem/75) 0 0 calc(270rem/75);
}

header>.header-c>img:first-child {
    width: calc(120rem/75);
    height: calc(36rem/75);
}

header>.header-c>a:last-child {
    display: inline-block;
}

header>.header-c>a:last-child img {
    margin-left: calc(100rem/75);
    width: calc(42rem/75);
    height: calc(40rem/75);
}

header>.header-y {
    margin-left: calc(16rem/75);
    float: right;
}

header>.header-y i {
    position: relative;
    top: calc(12rem/75);
    display: inline-block;
    width: calc(42rem/75);
    height: calc(40rem/75);
    background: url(../img/sprite_1.png) calc(-202rem/75) calc(-16rem/75);
    background-size: calc(750rem/75) calc(750rem/75);
}

header>.header-y i:last-child {
    left: calc(14rem/75);
    width: calc(42rem/75);
    height: calc(40rem/75);
    background: url(../img/sprite_1.png) calc(-384rem/75) calc(-142rem/75);
    background-size: calc(750rem/75) calc(750rem/75);
}

header>.header-y i:first-child::after {
    content: '3';
    position: absolute;
    top: calc(-18rem/75);
    right: calc(-6rem/75);
    width: calc(30rem/75);
    height: calc(30rem/75);
    line-height: calc(30rem/75);
    text-align: center;
    background-color: #fa6969;
    font-size: calc(22rem/75);
    color: #fff;
    border-radius: 50%;
}

/* 主体 */
main {
    padding: calc(86rem/75) 0 calc(108rem/75);
    background-color: #f4f4f4;
}

/* 轮播图 */
.carousel {
    width: 100%;
}

.carousel a {
    display: block;
}

.carousel a img {
    width: 100%;
    height: calc(406rem/75);
}

/* 简介 */
.synopsis {
    margin-top: calc(-4rem/75);
    margin-bottom: calc(20rem/75);
    padding: calc(48rem/75) calc(30rem/75) calc(36rem/75);
    background-color: #fff;
}

.synopsis-top {
    padding-bottom: calc(40rem/75);
    border-bottom: 1px solid #eeeeee;
}

.synopsis-logo {
    margin-right: calc(34rem/75);
    float: left;

}

.synopsis-logo img {
    width: calc(112rem/75);
    height: calc(112rem/75);
}

.synopsis-cont {
    float: left;
}

.synopsis-cont-s {
    margin-bottom: calc(28rem/75);
}

.synopsis-cont-s h3 {
    float: left;
    font-size: calc(44rem/75);
    color: #444444;
}

.synopsis-cont-s img {
    float: left;
    margin-left: calc(10rem/75);
    vertical-align: middle;
    width: calc(82rem/75);
    height: calc(30rem/75);
}

.synopsis-cont-x span {
    font-size: calc(26rem/75);
    color: #444444;
}

.synopsis-cont-x span:nth-child(2),
.synopsis-cont-x span:nth-child(4) {
    margin-right: calc(24rem/75);
}

.synopsis-cont-x img {
    vertical-align: middle;
    width: calc(118rem/75);
    height: calc(30rem/75);
}

.synopsis-btm {
    margin-top: calc(32rem/75);
}

.synopsis-btm img {
    float: left;
}

.synopsis-btm img:first-child {
    width: calc(22rem/75);
    height: calc(30rem/75);
}

.synopsis-btm p {
    float: left;
    padding: 0 calc(32rem/75) 0 calc(20rem/75);
    width: calc(560rem/75);
    line-height: 1.5;
    border-right: 1px solid #eeeeee;
    font-size: calc(26rem/75);
    color: #666666;
    /* 多行省略号 */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.synopsis-btm img:last-child {
    margin-top: calc(25rem/75);
    margin-left: calc(36rem/75);
    width: calc(28rem/75);
    height: calc(38rem/75);
}

/* 特色服务 */
.feature {
    margin-bottom: calc(20rem/75);
    padding: 0 calc(30rem/75);
    width: 100%;
    background-color: #f5f5f5;
}

.feature-title {
    padding: calc(33rem/75) 0;
    width: 100%;
    height: calc(92rem/75);
    font-size: calc(28rem/75);
}

.feature-title h3 {
    margin-right: calc(20rem/75);
    float: left;
    color: #8e8e93;
}

.feature-title p {
    float: left;
    color: #444444;
}

.feature-title i {
    float: right;
}

.feature-title i img {
    width: calc(14rem/75);
    height: calc(20rem/75);
}

.feature-btm {
    padding-bottom: calc(30rem/75);
    width: 100%;
}

.feature-btm li {
    padding: calc(23rem/75) 0 calc(20rem/75);
    float: left;
    width: calc(219rem/75);
    background-color: #fff;
    margin-right: calc(16rem/75);
}

.feature-btm li:last-child {
    margin-right: 0;
}

.feature-btm li a {
    display: block;
    text-align: center;
    font-size: calc(26rem/75);
    color: #666666;
}

.feature-btm li img {
    width: calc(36rem/75);
    height: calc(36rem/75);
}

.feature-btm li h4 {
    margin-top: calc(14rem/75);
    margin-bottom: calc(10rem/75);
}

.feature-btm li p {
    margin: 0 auto;
    width: calc(156rem/75);
    height: calc(44rem/75);
    line-height: calc(44rem/75);
    text-align: center;
    background-color: #ff8a00;
    font-size: calc(20rem/75);
    color: #fff;
    border-radius: calc(15rem/75);
}

/* 通用标题 */
.t-titlt {
    margin-top: calc(20rem/75);
    padding: calc(52rem/75) calc(30rem/75);
    width: 100%;
    height: calc(138rem/75);
    background-color: #fff;
    font-size: calc(28rem/75);
    color: #8e8e93;
}

.t-titlt h3 {
    float: left;
    font-size: calc(36rem/75);
    color: #444444;
}

.t-titlt span {
    float: right;
}

.t-titlt span img {
    margin-left: calc(12rem/75);
    vertical-align: middle;
    width: calc(14rem/75);
    height: calc(20rem/75);
}

.discounts {
    position: relative;
    padding: 0 calc(30rem/75) calc(50rem/75);
    width: 100%;
    height: calc(222rem/75);
    background-color: #fff;
}

.discounts>img:nth-child(1) {
    position: absolute;
    width: calc(686rem/75);
    height: calc(174rem/75);
}

.discounts>img:nth-child(2) {
    position: absolute;
    top: calc(52rem/75);
    left: calc(54rem/75);
    width: calc(26rem/75);
    height: calc(28rem/75);
}

.discounts>h3:nth-child(3) {
    position: absolute;
    top: calc(52rem/75);
    left: calc(96rem/75);
    font-size: calc(30rem/75);
    color: #444444;
}

.discounts>h3:nth-child(3) span {
    font-size: calc(24rem/75);
    color: #666;
}

.discounts>p:nth-child(4) {
    position: absolute;
    top: calc(100rem/75);
    left: calc(96rem/75);
    font-size: calc(24rem/75);
    color: #666666;
}

.discounts>p:nth-child(5) {
    position: absolute;
    top: calc(62rem/75);
    right: calc(60rem/75);
    width: calc(114rem/75);
    height: calc(50rem/75);
    line-height: calc(50rem/75);
    text-align: center;
    font-size: calc(26rem/75);
    color: #ffffff;
    background-color: #ff8a00;
    border-radius: calc(25rem/75);
}

/* 装修案例 */
.finish {
    padding: 0 calc(30rem/75);
    width: 100%;
    background-color: #fff;
}

.t-hz {
    width: 100%;
}

.t-hz li {
    float: left;
    margin: 0 calc(32rem/75) calc(60rem/75) 0;
    width: calc(328rem/75);
}

.t-hz li:nth-child(2n) {
    margin-right: 0;
}

.t-hz li a {
    width: 100%;
    display: block;
}

.t-hz li a>img {
    width: 100%;
    height: calc(224rem/75);
}

.t-hz li a>h3 {
    margin: calc(21rem/75) 0;
    width: 100%;
    font-size: calc(30rem/75);
    color: #444444;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.t-hz li a>p {
    width: 100%;
    font-size: calc(24rem/75);
    color: #929296;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 设计师 */
.stylist {
    padding: 0 calc(30rem/75);
    width: 100%;
    background-color: #fff;
}

.t-hz {
    width: 100%;
}

.stylist .t-hz li {
    float: left;
    margin: 0 calc(50rem/75) calc(50rem/75) 0;
    width: calc(132rem/75);
    text-align: center;
}

.stylist .t-hz li:nth-child(4) {
    margin-right: 0;
}

.t-hz li a {
    width: 100%;
    display: block;
}

.stylist .t-hz li a>img {
    width: 100%;
    height: calc(130rem/75);
    border-radius: 50%;
}

.stylist .t-hz li a>h3 {
    margin: calc(23rem/75) 0 calc(12rem/75);
    width: 100%;
    font-size: calc(26rem/75);
    color: #444444;
}

/* 工艺展示 */
.craft {
    padding: 0 calc(30rem/75) calc(10rem/75);
    width: 100%;
    background-color: #fff;
}

.craft li {
    margin-bottom: calc(40rem/75);
}

.craft a {
    display: block;
    width: 100%;
}

.craft-l {
    float: left;
    width: calc(234rem/75);
}

.craft-l>img {
    width: 100%;
    height: calc(160rem/75);
}

.craft-y {
    float: right;
    width: calc(422rem/75);
}

.craft-y h5 {
    margin: calc(20rem/75) 0 calc(28rem/75);
    font-size: calc(30rem/75);
    color: #535353;
}

.craft-y p {
    font-size: calc(28rem/75);
    color: #666666;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

/* 装修工地 */
.construction,
.evaluate {
    padding: 0 calc(30rem/75) calc(10rem/75);
    width: 100%;
    background-color: #fff;
}

/* 业主评价 */
.evaluate img:first-child {
    width: 100%;
    height: calc(706rem/75);
}

.evaluate img:nth-child(2) {
    margin: calc(84rem/75) 0 calc(80rem/75);
    width: 100%;
    height: calc(390rem/75);
}

.evaluate p:nth-child(3) {
    width: 100%;
    height: calc(82rem/75);
    text-align: center;
    font-size: calc(28rem/75);
    color: #8e8e93;
}

.evaluate p:nth-child(3)>img {
    margin-left: calc(10rem/75);
    vertical-align: middle;
    width: calc(12rem/75);
    height: calc(18rem/75);
}

/* 商家信息 */
.merchant {
    padding: 0 calc(30rem/75) calc(10rem/75);
    width: 100%;
    background-color: #fff;
}

.merchant h3 {
    margin-bottom: calc(38rem/75);
    padding-right: calc(140rem/75);
    font-size: calc(26rem/75);
    color: #8e8e93;
}

.merchant h3 span {
    display: inline-block;
    font-size: calc(26rem/75);
    color: #444444;
}

.merchant h3:last-child span {
    margin-top: calc(-24rem/75);
    margin-left: calc(128rem/75);
    width: calc(546rem/75);
}

/* 页面末端 */

.mo {
    height: calc(558rem/75);
    background-color: #2e2e2e;
    font-size: calc(24rem/75);
    color: #606060;
}

.di-title {
    margin: 0 auto;
    padding: calc(64rem/75);
}

.di-title a {
    padding: 0 calc(26rem/75);
    float: left;
    font-size: calc(30rem/75);
    color: #606060;
    border-right: 1px solid #444444;
}

.di-title a:first-child {
    padding-left: 0;
}

.di-title a:last-child {
    padding-right: 0;
    border-right: none;
}

.di-c {
    margin-bottom: calc(92rem/75);
    text-align: center;
}

.di-c button {
    position: relative;
    margin: 0 auto calc(25rem/75);
    padding-left: calc(56rem/75);
    display: block;
    width: calc(386rem/75);
    height: calc(72rem/75);
    background-color: #24c77e;
    border-radius: calc(30rem/75);
    border: none;
    font-size: calc(36rem/75);
    color: #fff;
}

.di-c button::after {
    content: '';
    position: absolute;
    top: calc(14rem/75);
    left: calc(48rem/75);
    width: calc(36rem/75);
    height: calc(44rem/75);
    background: url(../img/di.png) no-repeat;
    background-size: 100%;
}

.di-btm {
    text-align: center;
}

.di-btm p:nth-child(2) {
    margin: calc(26rem/75) 0;
}

.di-btm a {
    display: block;
    color: #606060;
}




/* 底部 */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: calc(14rem/75) calc(28rem/75);
    width: 100%;
    height: calc(108rem/75);
    background-color: #fff;
    z-index: 99;
}

footer li:nth-child(1) {
    margin-left: calc(4rem/75);
}

footer li:nth-child(-n+2) {
    float: left;
    width: calc(48rem/75);
    font-size: calc(24rem/75);
    text-align: center;
}

footer li:nth-child(2) {
    margin-left: calc(48rem/75);
}

footer li a {
    display: block;
    color: #666666;
}

footer li img {
    margin-bottom: calc(10rem/75);
    width: calc(32rem/75);
    height: calc(34rem/75);
}

footer li:last-child {
    float: right;
}

footer .order,
footer .quote {
    float: left;
    width: calc(244rem/75);
    height: calc(80rem/75);
    line-height: calc(80rem/75);
    font-size: calc(30rem/75);
    color: #fff;
    text-align: center;
    background-color: #ff8a00;
}

footer .order {
    border-radius: calc(35rem/75) 0 0 calc(35rem/75);
}

footer .quote {
    border-radius: 0 calc(35rem/75) calc(35rem/75) 0;
    background-color: #f56022;
}